:root {
    /* colores */
    --text-light-blue: #CED7F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

body {
    background-image: linear-gradient(to top right, #DA643D 0%, 14.470428488610665%, #2B2F30 49.406176805496216%, 74.70308840274811%, #2B2B2B 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.main-container {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    height: 100vh;
    gap: 10px;
    position: relative;
}

.card_photo {
    background-image: url("./assets/img/foto_perfil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    border-radius: 20px;
    box-shadow: 3px 5px 8px rgba(242, 169, 153, 0.25);
    grid-column: 2 / 4;
    grid-row: 6 / 10;
    margin: 0;
}

.card_whatsapp_container{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    margin: 0 auto;
}

.card_whatsapp {
    width: 50px;
    height: 50px;
}

.card_github_container{
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    margin: 0 auto;
}

.card_github {
    width: 70px;
    height: 70px;
}

.card_linkdin_container{
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    margin: 0 auto;
}

.card_linkdin {
    width: 55px;
    height: 55px;
}

.card_mail_container{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    margin: 0 auto;
}

.card_mail {
    width: 60px;
    height: 60px;
}

.card-personal {
    border: 5px solid #262626;
    border-radius: 20px;
    z-index: -1;
    grid-column: 3 / 7;
    grid-row: 4 / 7;
    margin: 0;
    text-align:end;
    display: grid;
    align-items: center;
}

.card-personal p {
    font-size: 1.9rem;
    font-weight: 200;
    margin: 10px;
    color: #CED7F2;
}

.snippet {
    background-image: url("./assets/img/snippet_html.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 7 / 11;
    grid-row: 1 / 6;
    
}

.title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    color: #D5441D ;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: grid;
    justify-items: center;
}

.skills {
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 4px;
    color: var(--text-light-blue) ;
    grid-column: 6;
    grid-row: 7 / 9;
    transform: rotate(270deg);
    display: grid;
    align-items: end;
    justify-items: center;
}

/* .skills-card {
    display: grid;
    grid-template: repeat(2, 60px) / repeat(4, 60px);
    gap: 10px;
    grid-column: 7 / 9;
    grid-row: 7 / 9;

    position: absolute;
    top: 60%;
    right: 20%;

    bottom: 150px;
    right: 300px;
} */


.html {
    background-image: url(./assets/img/html5.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 7 / 8;
    grid-row: 7 / 8;
    width: 67px;
    margin: 0 auto;
}

.css {
    background-image: url(./assets/img/css3.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 7;
    grid-row: 8;
    width: 60px;
    margin: 0 auto;
}

.js {
    background-image: url(./assets/img/js.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 8;
    grid-row: 7;
    width: 67px;
    margin: 0 auto;
}

.wp {
    background-image: url(./assets/img/wordpress.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 8;
    grid-row: 8;
    width: 70px;
    margin: 0 auto;
}

.responsive {
    background-image: url(./assets/img/Responsive.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 9;
    grid-row: 7;
    width: 73px;
    margin: 0 auto;
}

.git {
    background-image: url(./assets/img/git.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 9;
    grid-row: 8;
    width: 70px;
    margin: 0 auto;
}